body {
    margin: 0;
}


h2 {

    color: black;
    font-family: "Trebuchet MS", Verdana, "Times New Roman";
    font-size: 2rem;
}

ul{
    color:black;
    font-family: "Times New Roman", Verdana;
    list-style-position: inside;
}

/*
Commentaire qui n'apparait pas 
*/
#avatar {
    border-radius :50%;
}

h1 {
    font-family: "Trebuchet MS", verdana, "Times New Roman";
    font-size: 5rem;
    
}

strong {
    font-style: italic;
}

header{
    text-align: left;
}

#left-panel
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: baseline;
    height: 100%;
    align-items: baseline;
    background-color: rgb(187, 201, 217);
    font-family: "Trebuchet MS", verdana, "Times New Roman";
    width: 30% ;
    padding: 12px;
    padding-top: 5rem;
}

#loisirs{
    color: rgb(75, 75, 75)
}
.catégories
{
    color : rgb(187, 201, 217);
    background-color: rgb(75, 75, 75);
    text-align: center;
    width: 100%;
}

#right-panel
{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 5rem;
    padding-left: 2rem;
}

.container
{
    display: flex;
    flex-wrap: nowrap;
}

.body 
{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1rem;
}

.icone
{
width: 10%
}

.date
{
    width: 30%;
}
.far, .fas
{
    color: rgb(187, 201, 217)
}

.name1
{
    display: block;
    flex-direction: column;
    width: 50%;
    float: left;
}

.name2
{
   display: flex;
   flex-direction: column; 
   width: 50%;
   float: right
}

.Audrey{
    color: rgb(187, 201, 217)
}

hr{
    margin: 2%;
    height: 2px;
    margin-left: 0%;
    margin-top: 0%;
    width: 80%;
    background-color:rgb(187, 201, 217);
    border: none;
}

@media screen and (max-width: 768px)
{
    #left-panel, #right-panel 
    {
        width: 100%;
    }
    .container
    {
        flex-wrap: wrap;
    }
}